[submodule "eep522a_embedded_and_real-time_systems/submissions/workspace/src/rpi-lasershow"]
	path = eep522a_embedded_and_real-time_systems/submissions/workspace/src/rpi-lasershow
	url = https://github.com/enriquea02/uw/tree/eep522a_laser_projector_code
