*.venv
*.pdf
/ee503_probability_for_electrical_and_computer_engineers/
/eep502_analytical_methods_for_electrical_engineering/additional_material/
/eep502_analytical_methods_for_electrical_engineering/reading_materials/
/eep502_analytical_methods_for_electrical_engineering/Syllabus_files/
/eep502_analytical_methods_for_electrical_engineering/Syllabus
/eep502_analytical_methods_for_electrical_engineering/Final_project/
/eep502_analytical_methods_for_electrical_engineering/Homework_assignments/
/eep502_analytical_methods_for_electrical_engineering/Images/
/eep502_analytical_methods_for_electrical_engineering/Lecture_notebooks/
/eep502_analytical_methods_for_electrical_engineering/Lecture_transcripts/
/eep502_analytical_methods_for_electrical_engineering/Reading_notes/
/eep522a_embedded_and_real-time_systems/submissions/*/report/*.bbl
/eep522a_embedded_and_real-time_systems/submissions/*/report/*.synctex.gz
/eep522a_embedded_and_real-time_systems/submissions/*/report/*.aux
/eep522a_embedded_and_real-time_systems/submissions/*/report/images/*
/eep522a_embedded_and_real-time_systems/template resources/*
/eep522a_embedded_and_real-time_systems/Assignments/*
/eep522a_embedded_and_real-time_systems/Documents/*
/eep522a_embedded_and_real-time_systems/course_image/*
/eep522a_embedded_and_real-time_systems/references/*
/eep522a_embedded_and_real-time_systems/submissions/a1_configuration/__MACOSX/*
/eep522a_embedded_and_real-time_systems/submissions/a1_configuration/a.out
/eep522a_embedded_and_real-time_systems/submissions/a1_configuration/hellow
/eep522a_embedded_and_real-time_systems/template resources/*
/eep522a_embedded_and_real-time_systems/submissions/a2_configuration/report/*.fdb_latexmk
/eep522a_embedded_and_real-time_systems/submissions/a2_configuration/report/*.fls
/eep522a_embedded_and_real-time_systems/submissions/a2_configuration/report/*.log
/eep522a_embedded_and_real-time_systems/submissions/a2_configuration/report/*.out
/eep522a_embedded_and_real-time_systems/submissions/workspace/bld/*
.vscode/settings.json
.vscode/c_cpp_properties.json
/eep502_analytical_methods_for_electrical_engineering/reading_material/
