*.venv
*.pdf
/ee503_probability_for_electrical_and_computer_engineers/
/eep502_analytical_methods_for_electrical_engineering/additional_material/
/eep502_analytical_methods_for_electrical_engineering/reading_materials/
/eep502_analytical_methods_for_electrical_engineering/Syllabus_files/
/eep502_analytical_methods_for_electrical_engineering/Syllabus
/eep502_analytical_methods_for_electrical_engineering/Final_project/
/eep502_analytical_methods_for_electrical_engineering/Homework_assignments/
/eep502_analytical_methods_for_electrical_engineering/Images/
/eep502_analytical_methods_for_electrical_engineering/Lecture_notebooks/
/eep502_analytical_methods_for_electrical_engineering/Lecture_transcripts/
/eep502_analytical_methods_for_electrical_engineering/Reading_notes/
/eep522a_embedded_and_real-time_systems/submissions/*/report/*.bbl
/eep522a_embedded_and_real-time_systems/submissions/*/report/*.synctex.gz


